body {
    background-color: black;
}

canvas {
    background-color: black;
    position: absolute;
    left: 50px;
    top: 0px;
}

#frame {
    z-index: 0;
    background-color: transparent;

}

#monster {
    z-index: 1;
    background-color: transparent;
}

#score {
    position: relative;
    /*background-color: red;*/
    background-color: transparent;
    z-index: -1;
    left: 50px;
    top: 0;
}

#info {
    position: relative;
    display: block;
    background-color: transparent;
    z-index: -1;
    left: 50px;
    top: 991px;
}