/*div {*/
/*    margin: -2px -1px;*/
/*}*/

body {
    background-color: black;
}

canvas {
    background-color: black;
    position: absolute;
    left: 50px;
    top: 0px;
}

#frame {
    z-index: 0;
    background-color: transparent;

}

#ghosts {
    z-index: 1;
    background-color: transparent;
}

#pacman {
    background-color: transparent;
    z-index: 2;
}

#score {
    position: relative;
    /*background-color: red;*/
    background-color: transparent;
    /*color: green;*/
    z-index: -1;
    left: 50px;
    top: 0;
    /*width: 895px;*/
    /*height: 100px;*/
}

#info {
    position: relative;
    display: block;
    background-color: transparent;
    z-index: -1;
    left: 50px;
    top: 991px;
}



